@font-face {
   font-family: 'Ungai';
   font-display: swap;
   src: url('Ungai/font.ttf');
}
@font-face {
   font-family: 'electroharmonix';
   font-display: swap;
   src: url('electroharmonix/font.ttf');
}

h2{
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer
}
h2 span{
  transition: .5s linear
}
h2:hover span:nth-child(1){
  margin-right: 5px
}
h2:hover span:nth-child(1):after{
  content: " .";
}
h2:hover span:nth-child(2){
  margin-left: 30px
}
h2:hover span{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 10px rgb(255, 255, 255),
  0 0 20px rgb(255, 255, 255), 
  0 0 40px rgb(255, 255, 255);
}
.container a {
   color: #484848;
   text-decoration: none;
 }

 .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 

